.page-layout{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  align-items: start;
}
.search-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*Results grid*/
.results{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

@media (max-width: 1024px) {
  .page-layout {
    grid-template-columns: 1fr;
  }

  .search-section{
    order: -1;
  }
}